name: Java CI with Maven

on:
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
    - name: Set up JDK 11
      uses: actions/setup-java@v5
      with:
        distribution: 'zulu'
        java-version: '11'
    - name: Build with Maven
      run: mvn -B package -Dregistry=https://maven.pkg.github.com/dishantkamble --file pom.xml install
      env:
        GITHUB_TOKEN: ${{ github.token }}
